
body {
font-family: Arial, sans-serif;
text-align: center;
margin: 0;
padding: 0;
background-color: #1E1E1E;
color: white;
}

h1 {
font-size: 3em;
color: #00FF00;
margin-top: 40px;
}

p {
font-size: 1.2em;
line-height: 1.6;
margin: 20px 0;
padding: 10px;
text-align: justify;
max-width: 800px;
margin-left: auto;
margin-right: auto;
}

.sidebar {
position: fixed;
left: 20px;
top: 50%;
transform: translateY(-50%);
width: 65px;
background-color: black;
border-radius: 12px;
padding: 8px;
display: flex;
flex-direction: column;
align-items: center;
}

.sidebar .logo {
width: 55px;
height: 45px;
margin-bottom: 5px;
}

.sidebar a {
text-decoration: none;
margin: 15px 0;
display: flex;
justify-content: center;
}

.sidebar a img {
width: 45px;
height: 40px;
margin: 5px 0;
filter: invert(1);
opacity: 0.8;
transition: opacity 0.3s;
}

.sidebar a:hover img {
opacity: 1;
}

/* --- SEZIONE IMMAGINI CENTRALI --- */
.image-container {
display: flex;
justify-content: center;
align-items: center;
gap: 50px; /* Distanza tra le immagini */
margin-top: 50px;
}

.image-box {
position: relative;
width: 200px; /* Regola la dimensione delle immagini */
height: 200px;
border-radius: 10px;
overflow: hidden;
}

.image-box img {
width: 100%;
height: 100%;
border-radius: 10px;
transition: transform 0.3s ease;
}

.image-box:hover img {
transform: scale(1.1); /* Effetto zoom */
}


.play-button {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #1DB954; /* Verde Spotify */
color: white;
font-size: 24px;
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
transition: opacity 0.3s ease, transform 0.3s ease;
}

.image-box:hover .play-button {
opacity: 1;
transform: translate(-50%, -50%) scale(1.1);
}