
body {
font-family: Arial, sans-serif;
text-align: center;
margin: 0;
padding: 0;
background-color: #1E1E1E;
color: white;
}



h1 {
font-size: 3em;
color: #00FF00;
margin-top: 40px;

}
p {
font-size: 1.2em; /* Dimensione del font */
line-height: 1.6; /* Spaziatura tra le righe */
margin: 20px 0; 
padding: 10px; text-align: justify; /
max-width: 800px; 
margin-left: auto;
margin-right: auto; /* Centra il testo */
}


ul {
list-style-type: none;
padding: 0;
}

ul li {
font-size: 18px;
margin: 10px 0;
}


.sidebar {
position: fixed; /* Il menu rimane fisso sul lato sinistro */
left: 20px; /* Distanza dal bordo sinistro */
top: 50%; /* Centra il menu in verticale */
transform: translateY(-50%); /* Allinea perfettamente al centro */
width: 65px; /* Larghezza del menu */
background-color: black; 
border-radius: 12px; /* Angoli arrotondati */
padding: 8px;
display: flex;
flex-direction: column;
align-items: center;
}


.sidebar .logo {
width: 55px; 
height: 45px;        
margin-bottom: 5px;
}


.sidebar a {
text-decoration: none;
margin: 15px 0;
display: flex;
justify-content: center;
}

.sidebar a img {
width: 45px; /* Dimensione delle icone */
height: 40px;
margin: 5px 0;
filter: invert(1); /* Rende le icone bianche */
opacity: 0.8;
transition: opacity 0.3s;
}


.sidebar a:hover img {
opacity: 1;
}